<% include ../partials/header %>

<div class="container">
  <header class="jumbotron">
    <div class="container text-center">
      <h1> Welcome to YelpCamp </h1>
      <p> Where you find best CampGrounds </p>
      <p> <a href="/new" class="btn btn-primary btn-lg">Add a new Camp </a> </p>
    </div>
  </header>

<div class="row text-center" style="display:flex; flex-wrap:wrap;">
  <% for (var i = 0; i < arr.length; i++) { %>
  <div class=" col-sm-6">
    <div class="thumbnail">
      <img src="<%= arr[i].image %>">
      <div class="caption">
        <h4><%= arr[i].name %></h4>
      </div>
      <p>
        <a href="/camp/<%= arr[i]._id %>" class="btn btn-primary"> More Info </a>
      </p>
    </div>
  </div>
  <%  } %>
</div>
</div>

<% include ../partials/footer %>
