<% include ../partials/header %>
<div class="container">
<header class="jumbotron">
  <div class="container text-center">
    <h1> Add a new CampGround </h1>
    <p> Fill in the required attributes </p>
  </div>
</header>
<div style="margin: 0 auto; width: 30%;">
<form action="/camp" method="POST">
  <div class="form-group">
    <input class="form-control" type="text" name="title" placeholder="name">
  </div>
  <div class="form-group">
    <input class="form-control" type="number" name="price" placeholder="price" min="10" step="1">
  </div>
  <div class="form-group">
    <input class="form-control" type="text" name="image" placeholder="image url" >
  </div>
  <div class="form-group">
    <input class="form-control" type="text" name="description" placeholder="Description of the image" >
  </div>
  <div class="form-group">
    <button class="btn btn-default btn-lg btn-block">Submit</button>
  </div>
  <div class="form-group">
    <a href="/camp" class="btn btn-primary btn-block">Go back</a>
  </div>
</form>
</div>
<% include ../partials/footer %>
</div>
